* {
    outline: solid 1px red;
}

/* body */
body {
    background-color: #262626;
    font-family: Space Mono;
    color: #fcf4f8;
    margin-top: 6%;
}

/* navbar */
.nav-heading {
    color: #fcf4f8;
    padding-right: 2%;
    padding-left: 2%;
}

.nav-text {
    padding: 1%;
    padding-top: 5%;
}

/* splash section */
#typewriterSplash {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-top: 2%;
    background-image: url('../images/plantvascular40x.jpg');
    background-size: cover;
    position: relative;
}


.splash-content {
    padding: 2%;
    background-color: rgba(0,0,0, .75);
}


.greeting {
    display: flex;
    justify-content: center;
}

.splash-container {
    display: inline-block;

}

.typed-out-one {
    overflow: hidden;
    border-right: .15em solid #6c5a8f;
    white-space: nowrap;
    animation: 
    typing 2s steps(20, end) forwards,
    blink .8s step-end infinite;
    animation-duration: 2s;
    font-size: 1.6rem;
    width: 0;
}

.typed-out-two {
    overflow: hidden;
    border-right: .15em solid #6c5a8f;
    white-space: nowrap;
    animation: 
    typing 2s steps(20, end) forwards,
    blink .8s step-end infinite;
    animation-duration: 2s;
    animation-delay: 3s;
    font-size: 1.6rem;
    width: 0;
}

.typed-out-three {
    overflow: hidden;
    border-right: .15em solid #6c5a8f;
    white-space: nowrap;
    animation: 
    typing 2s steps(20, end) forwards,
    blink .8s step-end infinite;
    animation-duration: 2s;
    animation-delay: 6s;
    font-size: 1.6rem;
    width: 0;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    from { border-color: #6c5a8f }
    to { border-color: transparent }
}

/* about */
#aboutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.aboutBG {
    padding: 2%;
    margin-top: 6%;
    background-color: rgba(0,0,0, .75);
}

.aboutBG ul {
    list-style: none;
}

/* technology */

/* project */

/* contact footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    background-image: url('../images/plantvascular40x.jpg');
    background-size: cover;
    position: relative;
}

#contactSection {
    padding: 2%;
    background-color: rgba(0,0,0, .75);
}
