/* * {
    outline: solid 1px red;
} */

/* body */
body {
    background-color: #262626;
    font-family: Space Mono;
    color: #fcf4f8;
}

/* navbar */
.nav-heading {
    color: #fcf4f8;
    padding-right: 2%;
    padding-left: 2%;
}

.nav-text {
    padding: 1%;
}

main {
    margin-top: 5%;
}

/* splash section */
#typewriterSplash {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-top: 2%;
    background-image: url('../images/plantvascular40x.jpg');
    background-size: cover;
    position: relative;
}


.splash-content {
    padding: 2%;
    background-color: rgba(0,0,0, .75);
}


.greeting {
    display: flex;
    justify-content: center;
}

.splash-container {
    display: inline-block;

}

.typed-out-one {
    overflow: hidden;
    border-right: .15em solid #6c5a8f;
    white-space: nowrap;
    animation: 
    typing 2s steps(20, end) forwards,
    blink .8s step-end infinite;
    animation-duration: 2s;
    font-size: 1.6rem;
    width: 0;
}

.typed-out-two {
    overflow: hidden;
    border-right: .15em solid #6c5a8f;
    white-space: nowrap;
    animation: 
    typing 2s steps(20, end) forwards,
    blink .8s step-end infinite;
    animation-duration: 2s;
    animation-delay: 3s;
    font-size: 1.6rem;
    width: 0;
}

.typed-out-three {
    overflow: hidden;
    border-right: .15em solid #6c5a8f;
    white-space: nowrap;
    animation: 
    typing 2s steps(20, end) forwards,
    blink .8s step-end infinite;
    animation-duration: 2s;
    animation-delay: 6s;
    font-size: 1.6rem;
    width: 0;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    from { border-color: #6c5a8f }
    to { border-color: transparent }
}

/* about */
#aboutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.aboutBG {
    padding: 2%;
    margin-top: 5%;
    background-color: rgba(0,0,0, .75);
}

.aboutBG ul {
    list-style: none;
}

/* technology */

#techSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 2%;
    padding: 2%;
    text-align: center;
}

#techSection h3 {
    width: 300px;
    padding: 1%;
    background-color: rgba(0,0,0, .75);
}

.columnOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: min-content;
    margin-top: 1%;
}

#libLogos {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.columnTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
    margin-top: 1%;
}

#codersrank-widget {
    display: flex;
    flex-direction: column;
}

codersrank-skills-chart {
    display: flex;
    width: 80%;
    margin-top: 1%;
    --font-family: Space Mono;
    --svg-width: 100%;
    align-self: center;
}

.columnThree {
    display: flex;
    flex-direction: column;
    flex-basis: min-content;
    align-items: center;
    margin-top: 1%;
}

#dbLogos {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
}

.logo {
    width: 100px;
    height: auto;
    margin: 1%;
}

/* project */

#projectSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 2%;
    padding: 2%;
}

#projectSection h3 {
    width: 300px;
    padding: 1%;
    background-color: rgba(0,0,0, .75);
    align-self: center;
    text-align: center;
}

.project-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2%;
    padding: 2%;
    text-align: center;
}

.card {
    width: 30%;
    max-height: 30%;
    background-color: #0b070d;
    margin: 2%;
}

.img-fluid {
    max-width: 400px;
    height: auto;
}

.card p {
    text-align: left;
    margin-top: 2%;
}


/* contact footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    background-image: url('../images/plantvascular40x.jpg');
    background-size: cover;
    position: relative;
}

#contactSection {
    padding: 2%;
    background-color: rgba(0,0,0, .75);
}
